/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainOverlayLight: rgba(212, 230, 165, 0.8);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;

  --navbarHeight: 5rem;
  --projectImgWidth: 250px;
  --individualProjectImgWidth: 50vw;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --sharp-dark-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mainBlack);
  /* background: var(--mainBackground); */
  background-color: var(--primaryLightColor);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
  border-radius: 5%;
}
/* 
====== 
Navbar
======
*/
nav {
  background: var(--mainWhite);
  /* height: var(--navbarHeight);
  display: flex;

  align-items: center;
  border-bottom: 2px solid var(--primaryColor); */
  box-shadow: var(--lightShadow);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth); */
}
.name {
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primaryColor);
  background: transparent;
  border-color: transparent;
  transition: var(--mainTransition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--mainBlack);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
/* .links {
  display: flex;
  align-items: center;
} */
.links a {
  color: var(--mainBlack);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.links a:hover {
  color: var(--mainWhite);
  background: var(--primaryColor);
  padding-left: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    color: var(--primaryColor);
    background: transparent;
  }
}

/* 
====== 
Pages
======
*/
.page-container {
  position: relative;
  display: block;
  background-color: var(--offWhite);
  width: 90vw;
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 1rem;
}
.page-title {
  /* margin: 1rem auto; */
  text-align: center;
}
.page-subtitle {
  /* margin: 1rem auto; */
  text-align: center;
}

/* 
====== 
Contact
======
*/
.email {
  padding: 1rem;
  font-style: italic;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.social a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.social a:hover {
  color: var(--primaryColor);
}

/* 
====== 
Hero
======
*/
.hero {
  position: relative;
  /* relative - allows the hero-btn to be positioned nicely */
  margin: 0 auto;
  display: block;
}
.hero-img {
  margin: 0 auto;
  border: 1px black;
  max-width: 100%;
  height: 95vh;
  object-fit: cover;

  /* max-height: 500; */
}

.btn {
  display: inline-block;
  background-color: var(--mainBackground);
  color: var(--primaryDarkColor);
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.hero-btn {
  position: absolute;
  top: vh;
  left: 2vw;
}

/* 
====== 
Projects
======
*/
.project-container {
  display: block;
  margin: 2rem;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* width: 90; */
  margin: 0 auto;
  max-width: 1500px;
}

.project {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  overflow: hidden;
  width: var(--projectImgWidth);
  height: var(--projectImgWidth);
  display: block;
}

.project:hover {
  box-shadow: var(--sharp-dark-shadow);
  /* transform: scale(1.125); */
  /* border-color: var(--primaryLightColor); */
  cursor: pointer;
}

.project-title {
  position: relative;
  z-index: 5;
  background-color: var(--primaryLightColor);
  color: var(--mainBlack);
  overflow: hidden;
  padding: 5px 5px 0px;
  margin: 0;
  border-bottom: 1px solid var(--mainBlack);
}

.project-title::after {
  content: '';
  width: 95%;
  height: 2px;
  color: var(--mainBlack);
}

.project-subTitle {
  position: absolute;
  z-index: 5;
  background-color: var(--mainOverlayLight);
  width: var(--projectImgWidth);
  color: var(--mainBlack);
  padding: 5px;
  /* opacity: 0.5; */
}

.project-img {
  /* margin: 0 auto; */
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: -5; */
  object-fit: cover;
  width: var(--projectImgWidth);
  height: var(--projectImgWidth);
  border-radius: inherit;
  /* margin-top: -110px; */
  /* calc(var(--projectImgWidth)); */
}

.individual-project-img {
  display: block;
  margin: 1rem auto;
  max-width: 800px;
  max-height: calc(800px / 1.5);
  object-fit: cover;
  width: calc(var(--individualProjectImgWidth) * 1.5);
  height: var(--individualProjectImgWidth);
  border-radius: inherit;
}

.individual-project-git {
  position: absolute;
  top: 2rem;
  right: 1rem;
  /* transform: translate(-50%, 50%); */
  /* each 50% refers to the components width and height respectively */
  color: var(--primaryColor);
}

.description-container {
  padding: 0px 2rem;
  /* max-width: 800px; */
}
.react-icon-project {
  font-size: 24px;
}

.git-stars {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  .individual-project-git {
    position: static;
    /* display: block; */
    /* margin: 1rem auto; */
    display: flex;
    justify-content: center;
    /* gap: 2rem; is not supported in my browser */
    margin-bottom: -1rem;
  }

  .git-stars {
    display: inline-flex;
    padding-top: 0;
    padding-left: 2rem;
  }
}
